## Price_elasticity_of_demand

In [4]:
import pandas as pd
data = pd.DataFrame({"Demand": [20, 30, 31, 33, 30, 33, 35], 
                     "Price": [2000, 1800, 1850, 1700, 1800, 1700, 1600]})
data

   Demand  Price
0      20   2000
1      30   1800
2      31   1850
3      33   1700
4      30   1800
5      33   1700
6      35   1600

In [5]:
data["% Change in Demand"] = data["Demand"].pct_change()
data["% Change in Price"] = data["Price"].pct_change()
data

   Demand  Price  % Change in Demand  % Change in Price
0      20   2000                 NaN                NaN
1      30   1800            0.500000          -0.100000
2      31   1850            0.033333           0.027778
3      33   1700            0.064516          -0.081081
4      30   1800           -0.090909           0.058824
5      33   1700            0.100000          -0.055556
6      35   1600            0.060606          -0.058824

In [6]:
data["Price Elasticity"] = data["% Change in Demand"] / data["% Change in Price"]
data

   Demand  Price  % Change in Demand  % Change in Price  Price Elasticity
0      20   2000                 NaN                NaN               NaN
1      30   1800            0.500000          -0.100000         -5.000000
2      31   1850            0.033333           0.027778          1.200000
3      33   1700            0.064516          -0.081081         -0.795699
4      30   1800           -0.090909           0.058824         -1.545455
5      33   1700            0.100000          -0.055556         -1.800000
6      35   1600            0.060606          -0.058824         -1.030303