# Create_an_invoice

In [12]:
product1_name, product1_price = 'Books', 50.49
product2_name, product2_price = 'Computer', 548.99
product3_name, product3_price = 'Monitor', 256.29

In [13]:
company_name = 'ntales, inc.'
company_address = 'Claredale Street'
company_city = 'London'

In [14]:
message = 'Thanks for shopping with us today!'
# create a top border
print('*' * 50)

**************************************************

In [15]:
print('\t\t{}'.format(company_name.title()))
print('\t\t{}'.format(company_address.title()))
print('\t\t{}'.format(company_city.title()))
# print a line between sections
print('=' * 50)

		Ntales, Inc.
		Claredale Street
		London
==================================================

In [16]:
print('\tProduct Name\tProduct Price')
# create a print statement for each item
print('\t{}\t\t£{}'.format(product1_name.title(), product1_price))
print('\t{}\t£{}'.format(product2_name.title(), product2_price))
print('\t{}\t\t£{}'.format(product3_name.title(), product3_price))

	Product Name	Product Price
	Books		£50.49
	Computer	£548.99
	Monitor		£256.29

In [17]:
print('=' * 50)
# print out header for section of total
print('\t\t\tTotal')
# calculate total price and print out
total = product1_price + product2_price + product3_price
print('\t\t\t£{}'.format(total))
# print a line b

==================================================
			Total
			£855.77

In [18]:
print('\n\t{}\n'.format(message))

	Thanks for shopping with us today!

In [20]:
print('*' * 50)
print('\t\t{}'.format(company_name.title()))
print('\t\t{}'.format(company_address.title()))
print('\t\t{}'.format(company_city.title()))
# print a line between sections
print('=' * 50)
print('\tProduct Name\tProduct Price')
# create a print statement for each item
print('\t{}\t\t£{}'.format(product1_name.title(), product1_price))
print('\t{}\t£{}'.format(product2_name.title(), product2_price))
print('\t{}\t\t£{}'.format(product3_name.title(), product3_price))
print('=' * 50)
# print out header for section of total
print('\t\t\tTotal')
# calculate total price and print out
total = product1_price + product2_price + product3_price
print('\t\t\t£{}'.format(total))
# print a line b
print('\n\t{}\n'.format(message))
print('*' * 50)

**************************************************
		Ntales, Inc.
		Claredale Street
		London
==================================================
	Product Name	Product Price
	Books		£50.49
	Computer	£548.99
	Monitor		£256.29
==================================================
			Total
			£855.77

	Thanks for shopping with us today!

**************************************************